body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #19181a;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.foto-perfil {
    width: 150px;          
    height: 150px;         
    object-fit: cover;     
    border-radius: 35%;    
    border: 3px solid #46009b; 
    margin-bottom: 1px;   /* Cria um espaço entre a foto e o texto abaixo */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

h2 {
    color: #46009b;
}

section {
    padding: 20px;
    margin: 10px;
    border: 1px solid #19181a;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #19181a;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background: #46009b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #46009b;
}

#responseMessage {
    margin-top: 10px;
}